body{
   background-color: #03a1fc;
}

table{
   margin-top: 5%;
   margin-left: 15%;
   margin-right: 15%;
}

#guardar{
   margin-top: 5%;
   margin-left: 15%;
   margin-right: 15%;   
}

form{
   margin-top: 5%;
   margin-left: 15%;
   margin-right: 15%;   
}